extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Home", [
                {
                    href: "/#section-1",
                    name: "About Eric"
                },
                {
                    href: "/#section-2",
                    name: "The Disappearance"
                },
                {
                    href: "/#section-3",
                    name: "Your Support"
                }
            ])

        block main

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
