section(class="canvas front" id="front")

    div(class="content")

        h2 We Miss You Eric

        div

            p Eric was last seen on Steam 9 months ago 

            div

                a(href="#section-2") Who is Eric?
                a(href="#section-3") Why Is He Missing?

    +nav-1({ target: "section-1", direction: "next" })
