section(class="canvas section-2" id="section-3")

    h2 Your Support

    div(class="content")

        div

            article

                h2 Tweet
                p.
                    Bring awareness to this dissappearnce. Tweet with the hashtag #WeMissYouEric.  

        div

            article

                h2 Believe
                p.
                    The odds may seem long, but the power of positive thought
                    will help aide his return!

        div

            article

                h2 Compete
                p.
                    Eric loves to game. Your continued owning of 
                    n00bs on Rocket League or Call of Duty would make him happy. 

        div

            article

                h2 Donate
                p.
                    Aside from gaming, Eric enjoyed going sailing on the ocean. Please consider donating to The Sailors Society in his name. 

    +nav-1({ target: "front", direction: "prev" })
