section(class="canvas section-1" id="section-2")

    h2 Missing

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h3 The Disappearance 

                p.
                    Three weeks into his missionary trip, the daily texts we'd get
                    from Eric stopped.
                p.
                    We thought nothing of it at first and assumed he was busy. But then
                    we got a call from his parents. They wondered if we heard from him. 
                p.
                    That's when we knew something serious was going on. It's been almost 
                    8 months since anyone has heard from him. And we're worried. 

    +nav-1({ target: "section-3", direction: "next" })
