section(class="canvas section-1" id="section-1")

    h2 About Eric

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Eric

                p.
                    Our friend Eric was once a regular part of our gaming group. 
                    About 9 months ago, Eric said he felt a calling in his life 
                    and wanted to do something to leave his mark on the world.
                p.
                    Without so much as a heads up, Eric told us he'd be gone for a few months
                    as he was about to leave for 3 months as a missionary in Southeast China.

    +nav-1({ target: "section-2", direction: "next" })
