section(class="canvas section-1" id="section-1")

    h2 About Eric

    div(class="content")

        div

            img(src="images/global/eric.png" inline)

            article

                h2 Eric

                p.
                    Our friend Eric was once a regular part of our gaming group. 
                    About 9 months ago, Eric said he felt a calling in his life 
                    and wanted to do something to leave his mark on the world.
                p.
                    Eric told us he wanted to go on a missionary trip to Southeast China
                    and would be gone for a few months. The very next day, we got a 
                    picture of him onboard a flight. We didn't know it, but the previous
                    nights gaming session was the last time we'd hear Eric's voice. 

    +nav-1({ target: "section-2", direction: "next" })
