section(class="canvas section-1" id="section-1")

    h2 About Eric

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.svg" inline)

            article

                h2 Eric aka SavageLee

                p.
                    Our friend Eric - aka “SavageLee” was once a regular part of our gaming group. 
                    We’d play Call of Duty, Rocket League and even some golf on our PCs together at night. 
                    We expected the good times to keep rolling... 
                p.
                    About 9 months ago Eric said he felt a calling in his life, 
                    a need to move and do something different. Without so much as a heads up, 
                    Eric told us he was gonna be gone for a bit. 
                    
                h3 We've not heard from him since... and we're concerned.

    +nav-1({ target: "section-2", direction: "next" })
